%p
  = link_to 'back', report_steps_path

%h3 Questions For #{@entity}
= render :partial => 'navigation'

#questions
  = semantic_form_for @entity, :url => report_step_path(@report_step) do |form|
    = form.inputs do 
      = form.input :id, :as => :hidden
    = render @answers, :form => form 
    = form.buttons

= render :partial => 'navigation'

- content_for :sidebar do
  %h4 Entities with Questions:
  %ul
    - @entities.each do |entity|
      %li= link_to entity, edit_report_step_path(@report_step, :entity_id => entity.id)
