%p
  = link_to 'back', questions_path
  = link_to 'edit', edit_question_path(@question)

%dl
  %dt= Question.human_attribute_name :name
  %dd= @question.name
  %dt= Question.human_attribute_name :interrogative
  %dd= @question.interrogative
  %dt= Question.human_attribute_name :data_type
  %dd= @question.data_type
  %dt= Question.human_attribute_name :type
  %dd= @question.type
  %dt= Question.human_attribute_name :display_order
  %dd= @question.display_order
  %dt= Question.human_attribute_name :data_type
  %dd= @question.data_type
  %dt Allow N/As
  %dd= @question.allow_na ? "Yes" : "No"

-if @question.question_options.any?
  %h2 Question Options
  %table
    %thead
      %tr
        %th Display Value
        %th Data Value
    %tbody
      - @question.question_options.each do |option|
        %tr
          %td= option.display_value
          %td= option.data_value

%h2 Preview
=render :partial => 'select_question', :locals => { :select_question => @question }
