%p
  = link_to 'back', steps_path
  = link_to 'edit', edit_step_path(@step)

%dl
  %dt= Step.human_attribute_name :name
  %dd= @step.name

%h3 Preview
#questions
  = semantic_form_for Entity.new do |form|
    - (@step.questions.order('display_order ASC').map { |q| q.answers.build }).each do |answer|
      = render answer, :form => form
