!!! strict
%html{html_attrs}
  %head
    %title=@title ? "#{@title} | Questions Mockup" : "Questions Mockup"
    = stylesheet_link_tag :all
    = stylesheet_link_tag 'blueprint/screen', :media => 'screen'
    = stylesheet_link_tag 'blueprint/print', :media => 'print'
    = csrf_meta_tag
  %body
    .container
      #header.span-24.last
        %h1.span-16 WebSTA-Q Question Mockup
        .span-8.last
          = link_to "Home", root_path
          = link_to "Questions", questions_path
          = link_to "Entities", entities_path
          = link_to "Steps", steps_path
      #wrapper.span-24.last
        #content.span-18
          %h2=@title if @title
          = yield
        #sidebar.span-6.last
          = yield :sidebar
    =javascript_include_tag 'jquery/jquery-1.5.1.min'
    =javascript_include_tag :all

